.prior {
	padding: 150px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 80px;
	&__priors {
		display: flex;
		gap: 49px
	}
	&__prior-item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__icon {
		margin-top: 40px;
	}
}
